/* Global */
* {
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: auto;
    text-align: center;  
    font-weight: normal;  
}

.container {
    padding-top: 20px;
}

.spacing {
    margin-bottom: 20px;
}

a {
    color: aqua;
    font-size: 16px;
}

/* Title Section */
#title {
    width: 90%; 
    margin: auto;
}

#title h1 {
    font-size: 50px;
    font-weight: normal;
}

/* Travel Guids */
#travel h2, #coming-soon h2{
    font-size: 42px;
    font-weight: 300;
}

#travel .img-container {
    width: 60%;
    margin: auto;
}

#travel img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

/* Copming Soon */
#coming-soon img {
    margin-bottom: 30px;
}

/* Footer */
footer {
    padding-bottom: 20px;
    text-align: right;
}

footer h3{
    font-weight: 300;
    margin-right:10px;
    color: gray;
}



