/* Global */
* {
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: auto;
    text-align: center;    
}

/* Title Section */
.title {
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

.title h1 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
}

.title a {
    color: aqua;
    font-size: 16px;
}

/* Video Feature */
.video .container {
    padding-top: 20px;
}