/* Global */
* {
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: auto;
    text-align: center;    
}

.container {
    padding-top: 20px;
}

.spacing {
    margin-bottom: 20px;
}

/* Title Section */
#title {
    width: 90%;
    margin: auto;
}

#title h1 {
    font-size: 50px;
    font-weight: normal;
}

#title a {
    color: aqua;
    font-size: 16px;
}

/* Travel Guids */
#travel h2{
    font-size: 42px;
    font-weight: 300;
}

#travel img {
    margin-top: 10px;
}



